
@media screen and (max-width: 767px) {
    .clear-collapse{
        clear: both;
    }
    .collapse-hidden{
        display: none;
    }
}

@media screen and (min-width: 768px){
    .navbar-collapse.collapse.uncollapse-hidden{
        display: none!important;
    }
}

.navbar-toggle {
    color: #FFF;
}

